body {
    
    background-color: azure;
    justify-content: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(
          rgba(0,0,0,0.5),
          rgba(0,0,0,0.5)
    ), 
    url(images/Kente-cloth3.jpg);

    background-repeat: no-repeat;
    background-size: cover;
}




.container {
    margin-top:60px;
    padding:25px;
    border-radius:10px;
    width: 400px;
    background:rgba(0,0,0 ,0.6 );
    align-items: center;
}

h1 {
    margin-bottom:10px;
    text-align: center;
}
 
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

input {
    width:100%;
    margin-top:5px;
    padding: 8px;
}

.gender{
    margin-top: 10px;
}

button {
    margin-top:20px;
    padding:10px;
    border: none;
    border-radius:5px;
    cursor:pointer;
    font-size:12px;
    background:#f39c12;
}

button:hover{
    transform: translateY(-2px);
    box-shadow:0.5px;
}

#result{
    margin-top:40px;
    opacity: 10;
    
}

.footer{
    background-color: grey;
    color:#ffffff;
    text-align: center;
    padding: 25px 15px;
    margin-top:200px;
    margin-left:0%;
}



#contacts a {
    text-decoration: none;
}

#contacts a:hover {
    text-decoration: underline;
}
    


